<div>
    <h3><%= name %></h3>
    <div class="bio">
        <div class="bio-photo"><img src="<%= image[3]['#text'] %>" alt="<%= name %>" /></div>
        <div class="bio-content"><%= bio.content %></div>
    </div>
</div>
<h3>Similar</h3>
<ul class="list" data-label="details.similar"></ul>