<div class="search-block">
    <input name="search" class="form-control" type="text" value="" placeholder="Search" ><button class="btn btn-lg btn-default btn-search">Search</button>
</div>
<h3>Artistics</h3>
<ul class="list" data-label="top.list"></ul>