<a href="/details/<%= encodeURIComponent(name) %>" class="top-list-item">
    <img src="<%= image[0]['#text'] %>" alt="" /><b><%= name %></b>
    <% if('undefined' !== typeof playcount && playcount) { %><i>Played: <%= playcount %></i><% } %>
</a>