<div class="demo">
    <form action="#" class="form-horizontal" role="form">

        <!--<div class="btn-group btn-select">-->
            <!--<button type="button" class="btn btn-lg btn-default" data-toggle="dropdown">-->
                <!--<b>Ford Mustang</b> <span class="caret"></span>-->
            <!--</button>-->
            <!--<ul class="dropdown-menu" role="menu">-->
                <!--<li data-value="0"><a data-action="false" href="#">Ford Mustang</a></li>-->
                <!--<li data-value="1"><a data-action="false" href="#">Tesla</a></li>-->
                <!--<li data-value="2"><a data-action="false" href="#">Mitsubishi</a></li>-->
                <!--<li data-value="3"><a data-action="false" href="#">Jeep</a></li>-->
                <!--<li data-value="4"><a data-action="false" href="#">Lada Granta</a></li>-->
            <!--</ul>-->
        <!--</div>-->

        <h2>LARGE BUTTONS</h2>
        <button class="btn btn-lg btn-default">Ford Mustang</button>
        <button class="btn btn-lg btn-info">Tesla Model S</button>
        <button class="btn btn-lg btn-primary">Mitsubishi Evo</button>
        <button class="btn btn-lg btn-default">Yes</button>
        <button class="btn btn-lg btn-danger">No</button>

        <h2>SMALL BUTTONS</h2>
        <button class="btn btn-default">Ford Mustang</button>
        <button class="btn btn-info">Tesla Model S</button>
        <button class="btn btn-primary">Mitsubishi Evo</button>
        <button class="btn btn-default">Yes</button>
        <button class="btn btn-danger">No</button>

        <h2>EDITBOX/DROPDOWN</h2>

        <div style="width: 255px; padding-bottom: 15px;">
            <input class="form-control" type="text" value="Ford Mustang" />
        </div>

        <select data-type="form-select" name="cars">
            <option value="0">Ford Mustang</option>
            <option value="1">Tesla</option>
            <option value="2">Mitsubishi</option>
            <option value="3">Jeep</option>
            <option value="4">Lada Granta</option>
        </select>

        <!--<div class="form-select" data-type="select" tabindex="0">-->
            <!--<label>-->
                <!--<input name="model" type="hidden" value="1" />-->
                <!--<input class="form-select-input" type="text" disabled="disabled" value="Tesla" />-->
                <!--<span class="form-select-icon"></span>-->
                <!--<ul class="form-select-menu">-->
                    <!--<li data-value="0">Ford Mustang</li>-->
                    <!--<li data-value="1">Tesla</li>-->
                    <!--<li data-value="2">Mitsubishi</li>-->
                    <!--<li data-value="3">Jeep</li>-->
                    <!--<li data-value="4">Lada Granta</li>-->
                <!--</ul>-->
            <!--</label>-->
        <!--</div>-->

        <h2>CHECKBOX/RADIO</h2>

        <div class="form-control form-checkbox">
            <input id="check1" data-type="form-control" type="checkbox" name="check1" />
            <label for="check1">Checkbox</label>
        </div>

        <div style="overflow: hidden;">
            <div class="form-control form-radio" style="float: left; width: 150px">
                <input id="radio1" data-type="form-control" type="radio" name="radio1" />
                <label for="radio1">Radio button 1</label>
            </div>

            <div class="form-control form-radio" style="float: left; width: 150px">
                <input id="radio2" data-type="form-control" type="radio" name="radio1" />
                <label for="radio2">Radio button 2</label>
            </div>
        </div>

        <h2>LIST</h2>

        <div style="overflow: hidden;">
            <ul class="list" style="float: left; width: 250px">
                <li>Ford Mustang</li>
                <li>Tesla</li>
                <li>Mitsubishi</li>
                <li>Jeep</li>
                <li>Lada Granta</li>
            </ul>

            <ul class="list" style="margin-left: 20px; float: left; width: 250px">
                <li>Ford Mustang<i>15</i></li>
                <li>Tesla<i>290</i></li>
                <li>Mitsubishi<i>25</i></li>
                <li>Jeep<i>1</i></li>
                <li>Lada Granta<i>78</i></li>
            </ul>
        </div>

        <div style="height: 500px;"></div>
    </form>
</div>