<div class="bar">
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/top">Top artists</a></li>
            <!--<li><a href="/details">Details</a></li>-->
            <!--<li><a href="/registration">Sign up</a></li>-->
        </ul>
    </div>
    <!--<select name="lang" data-type="form-select" class="form-select-sm language">-->
        <!--<option <% if(LOCALE == 'ru-ru') { %>selected="selected" <% } %> value="ru-ru">РУ</option>-->
        <!--<option <% if(LOCALE == 'en-en') { %>selected="selected" <% } %> value="en-en">EN</option>-->
    <!--</select>-->
</div>