body { background: #1c1d1f; color: #ededed; font-family: 'Open Sans', arial, serif; }
header { background: #555; font-size: 16px; text-align: center; text-shadow: 0 1px 0 rgba(0, 0, 0, .15); margin-bottom: 15px; }
ul { list-style: none; padding: 0; }

select:focus { border: 2px solid yellow; }

.bar { position: relative; }

.language { position: absolute; top: 5px; right: 5px; }
i.locale { font-style: normal; }

.btn { border-radius: 3px; font-weight: bold; padding-left: 25px; padding-right: 25px; padding-top: 8px; font-size: 9pt; text-shadow: 1px 1px 1px #555; }
.btn-lg { font-size: 10pt;padding-left: 25px; padding-right: 25px; padding-top: 10px; }
.btn-default, .btn-default:focus { color: white; }
.btn-primary { background: #3e84c9; border-color: #3e84c9; }
.btn-default, .btn-success { background: #3dc98c; border-color: #3dc98c; }
.btn-info { background: #3dc4c8; border-color: #3dc4c8; }
.btn-danger { background: #d73f4e; border-color: #d73f4e; }

.btn-primary:hover { background: #3a7ab8; border-color: #3a7ab8; }
.btn-default:hover, .btn-success:hover, .btn-default:focus, .btn-success:focus { background: #3ab680; color: white; border-color: #3ab680; }
.btn-info:hover { background: #39b3b8; border-color: #39b3b8; }
.btn-danger:hover { background: #c43c4a; border-color: #c43c4a; }

.btn-group { display: block; }

.modal-content { background: #1c1d1f; }
.modal-header { border-bottom: 1px solid #666; }
.modal-footer { border-top: 1px solid #666; }

.property-row {  }
.property-title { color: #6a6b6d; width: 200px; display: inline-block; text-align: left; padding-right: 5px; }

input[type=text], input[type=password] { background: #3c3d41; border: 2px solid #3c3d41; border-radius: 3px; color: #929395; text-shadow: 1px 1px 1px #555; height: 40px; padding-left: 18px; }
input[type=text]:hover, input[type=password]:hover { border-color: #5a5b5f; }
input[type=text]:focus, input[type=password]:focus { border-color: #3dc98c; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; color: #3dc98c; }
textarea.form-control { border: 2px solid #3c3d41; background: #3c3d41; color: #929397; padding: 10px 20px; }
textarea:hover.form-control { border-color: #5a5b5f; }
textarea:focus.form-control { border-color: #3dc98c; box-shadow: 0 0 0; -webkit-box-shadow: 0 0 0; color: #3dc98c; }

.form-checkbox, .form-radio { line-height: 25px; }
.form-checkbox input[type=checkbox], .form-radio input[type=radio] { display: none; }
.form-checkbox label, .form-radio label { display: inline-block; cursor: pointer; position: relative; vertical-align: top; }

.form-checkbox label:before, .form-radio label:before { content: ""; display: inline-block; width: 22px; height: 22px; margin-right: 3px; background: url('img/temp.png') no-repeat -41px 0; }
.form-checkbox:hover label:before { content: ""; background-position: -41px -22px; }
.form-checkbox input[type=checkbox]:checked + label:before { content: ""; background-position: -41px -44px;  }

.form-radio label:before { content: ""; background-position: -63px 0; }
.form-radio:hover label:before { content: ""; background-position: -63px -22px; }
.form-radio input[type=radio]:checked + label:before { content: ""; background-position: -63px -44px;  }

.search-block { padding-bottom: 15px; overflow: hidden; }
.search-block .form-control { display: inline-block; width: 80% }
.search-block .btn-search { display: inline-block; margin-left: 5px; width: 15%; }

.list { list-style: none; }
.list li { padding: 3px 10px; line-height: 30px; border-bottom: 1px solid #3c3d3f; color: #6a6b6d; text-shadow: 1px 1px 1px #111; overflow: hidden; -webkit-transition: all 0.2s; -moz-transition: all 0.2s; -o-transition: all 0.2s; transition: all 0.2s; }
.list li:last-child { border-color: transparent; }
.list li:hover { background: #3dc98c; border-color: transparent; color: white; text-shadow: 1px 1px 1px #444; }
.list li i { float: right; font-style: normal; color: #9b9c9e; font-weight: bold; font-size: 9pt; }
.list li:hover i { color: white; }

.list .top-list-item img { width: 34px; height: 34px; margin-right: 10px; }
.list .top-list-item b { text-decoration: none; color: white; }

.list.tile li { float: left; width: 33%; height: 33%; }
/*input[type=checkbox] { visibility: hidden; margin-left: -25px; position: absolute; width: 100%; height: 100%; z-index: 101; }*/
/*.form-checkbox label { display: inline-block; position: relative; padding-left: 25px; }*/
/*.form-checkbox label:before { content: ""; display: inline-block; width: 22px; height: 22px; background: url('img/temp.png') no-repeat -41px 0; position: absolute; left: 0; bottom: 0; }*/
/*label.form-checkbox { margin-bottom: 0; height: 21px; vertical-align: middle; }*/
/*label.form-checkbox:before { content: ""; display: inline-block; width: 22px; height: 22px; background: url('img/temp.png') no-repeat -41px 0; vertical-align: middle; }*/
/*label.form-checkbox:hover:before { content: ""; background-position: -41px -22px; }*/
/*label.form-checkbox input[] { display: none; }*/

.form-control { -webkit-box-shadow: none; box-shadow: none; border: 0; background: transparent; }

.movie-preview-list {}

.movie-preview { padding-top: 5px; padding-bottom: 5px; }

.movie-preview-list .movie-preview img { max-width: 100%; }

.form-label { width: 200px; }

.hidden { display: none; }

.loading { background: url(img/preloader.gif) no-repeat 50% 50%; height: 100px; display: block; }

.action-buttons-area { padding-bottom: 10px; }

.form-horizontal .form-group { margin-left: 0; margin-right: 0; }

/* select */
.form-select { display: inline-block; outline: none; vertical-align: middle; }
.form-select label { display: inline-block; position: relative; cursor: pointer; }
.form-select input { outline: 0; color: #929397; border-radius: 3px; border: 0 solid transparent; height: 40px; background: #3c3d41; width: 255px; padding-left: 20px; padding-right: 45px; text-shadow: 0 0 0; }

.form-select .form-select-list { display: none; position: absolute; top: 0; left: 0; border: 0; opacity: 0 }

.form-select:focus input,
.form-select input:hover { outline: 0; color: #929397; border: 0 solid transparent; cursor: pointer; }

.form-select .form-select-icon { display: block; width: 40px; position: absolute; top: 0; right: 0; height: 40px; border-radius: 3px; border-width: 2px !important; background: url('img/temp.png') no-repeat 0 0; }
.form-select:focus .form-select-icon, .form-select:hover .form-select-icon { border-radius: 0 3px 3px 0; background-color: #3dc98c; background-position: 0 -80px; direction: rtl; }
.form-select .form-select-menu { display: none; border-radius: 0 0 3px 3px; padding-left: 0; width: 100%; position: absolute; top: 40px; left: 0; z-index: 1000; background-color: #3dc98c; }

.form-select.open .form-select-icon { border-radius: 0 3px 0 0; direction: ltr; background-position: 0 -40px; }
.form-select.open .form-select-menu { display: block !important; }
.form-select li { height: 40px; line-height: 40px; padding-left: 20px; font-weight: normal; text-shadow: 1px 1px 1px #333; text-align: left; }
.form-select li:hover { background: #3ab680; }

.form-select.form-select-sm input { width: 100px; }
.form-select.form-select-lg input { width: 400px; }
/* end select */

/** tasks */
.todo { overflow: hidden; height: 100%; }
.todo h2 { padding: 20px 0 15px 0; margin: 0 0 15px 0; color: #6a6b6d; font-size: 14pt; text-shadow: 0 0 1px black; border-bottom: 1px solid #6a6b6d; }
.todo { background: transparent 100% 0 repeat-y; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.todo .todo-list { border-right: 2px solid #333; float: left; padding-right: 5px; overflow: hidden; position: relative; width: 99%; height: 100%; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.todo .todo-list > .scrollable { height: 100%; }
.todo .task-list { height: 100%; width: 100%; top: 0; position: absolute; }
.todo .todo-form-area { float: left; overflow: hidden; width: 0; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.todo .todo-content { width: 600px; padding: 0 15px; position: relative; }
.todo .todo-preloader { display: none; position: absolute; height: 600px; width: 100%; z-index: 100; opacity: 0.6; background: #1c1d1f; -webkit-transition: all 0.3s; -moz-transition: all 0.3s; -o-transition: all 0.3s; transition: all 0.3s; }
.todo .task { border-bottom: 1px solid #3c3d3f; }
.todo .task .task-inner { padding-left: 15px; padding-right: 25px; background: url(img/task-arrow.jpg) no-repeat 99% 50%; }
.todo-open .task.selected .task-inner { border-left: 5px solid #3ab680; padding-left: 10px; }
.todo .task-title, .todo .task-description { cursor: pointer; opacity: 1; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; }
.todo .task .task-inner.task-complete .task-title, .todo .task .task-inner.task-complete .task-description { opacity: 0.3; }
.todo .task-title { white-space: nowrap; overflow: hidden; color: #6a6b6d; text-shadow: 0 0 1px black; padding: 10px 0 5px 0; font-weight: bold; }
.todo .task-description { white-space: nowrap; overflow: hidden; color: #444549; text-shadow: 0 0 1px black; padding-bottom: 10px; }
.todo .todo-form { padding: 0 15px; width: 80%; }
/*.todo-open .todo { background: url(data:image/gif;base64,R0lGODdhBQAoAIABADw9Qf///ywAAAAABQAoAAACDISPqcvtD6OctNrrCgA7) 29.5% 0 repeat-y; }*/
.todo-open .todo .todo-list { width: 29%; }
.todo-open .todo .todo-form-area { width: 69%; height: 100% }
/** end tasks */

.form-auth { width: 250px; }
.demo h2 { border-top: 2px solid #3c3d41; color: #3c3d41; font-size: 12pt; padding-top: 15px; padding-bottom: 15px; }
.opacity-none { opacity: 0 !important; }

.scroll-hover-area { /*background: #edf;*/ width: 50px; position: absolute; top: 0; right: -10px; height: 100%; }
.scroll { opacity: 0; display: block; width: 10px; border-radius: 15px; position: absolute; top: 0; right: 10px; height: 100%; background: #333; box-shadow: 0 0 6px #000 inset; -webkit-transition: all 0.1s; -moz-transition: all 0.1s; -o-transition: all 0.1s; transition: all 0.1s; }
.scroll.hover { opacity: 0.8; }
.scroll-slider { display: block; box-shadow: 0 0 8px #858585 inset; position: absolute; top: 0; left: 1px; width: 8px; border-radius: 15px; height: 50px; background: #585858; }

#same { }

.game { border: 1px solid #eee; width: 100%; height: 450px; position: relative; }
.game .game-userid { position: absolute; top: 20px; left: 10px; color: white; }

.character { position: absolute; top: 0; left: 0; width: 10px; height: 10px; border-radius: 10px; }
.character.user { background: #afca24; width: 32px; height: 32px; transition-property: top, left; transition-duration: 0.2s; background: url("/images/selfbomberman.png") 128px 0; }
.character.player { background: #3385ca;-webkit-transition: all 0.2s; transition: all 0.2s; }
.character.bot { background: #ca563f; -webkit-transition: all 0.2s; transition: all 0.2s; }

.bio { overflow: hidden; }
.bio-photo { float: left; margin: 0 20px 20px 0 }
.bio-content {  }
