<div class="form-select <%= $el.attr('class') %>" data-name="<%= $el.attr('name') %>" data-type="select" tabindex="0">
    <label>
        <input name="<%= $el.attr('name') %>" type="hidden" value="<%= $selected.length == 0 ? $first.attr('value'): $selected.attr('value') %>" />
        <input class="form-select-input" type="text" disabled="disabled" value="<%= $selected.length == 0 ? $first.html(): $selected.html() %>" />
        <span class="form-select-icon"></span>
        <ul class="form-select-menu">
            <% _.each($el.find('option'), function(item) { %>
            <li data-value="<%= item.getAttribute('value') %>"><%= item.innerHTML %></li>
            <% }); %>
        </ul>
    </label>
</div>